@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        <div class="row">
            <div class="col-12">
                @Html.ActionLink("go to Users", "Index", "User", new { area = "SASDPM" }, null)

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                @Html.ActionLink("go to Articles", "Articles", "SA", new { area = "SASDPM" }, null)

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                @Html.ActionLink("go to Projects", "Index", "Project", new { area = "SASDPM" }, null)

            </div>
        </div>
    </div>
