################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/planAndTest/exeMission/bin/Debug/netcoreapp3.1
/planAndTest/exeMission/obj
/planAndTest/planAndTest.web/bin/Debug/netcoreapp3.1
/planAndTest/planAndTest.web/obj
*.v2
/planAndTest/models/bin/Debug/netcoreapp3.1
/planAndTest/models/obj
/planAndTest/.vs
/planAndTest/callMission/bin
/planAndTest/callMission/obj
/planAndTest/commonLib/obj
/planAndTest/commonLib/bin
/planAndTest/exeMission/Data/calls
/planAndTest/exeMission/Data
/planAndTest/SASDdb.entity/obj
/planAndTest/SASDdb.entity/bin
/planAndTest/SASDdbPrj/obj
/planAndTest/SASDdbPrj/bin
*.dbmdl
*.jfm
/planAndTest/SASDdbService/obj
/planAndTest/SASDdbService/bin
/planAndTest/planAndTest/bin
/planAndTest/planAndTest/obj
/planAndTest/callMission.fwk/obj
/planAndTest/callMission.fwk/bin
/planAndTest/callMission.fwk/obj
/planAndTest/commonLib.fwk/obj
/planAndTest/commonLib.fwk/bin
/planAndTest/exeMission.fwk/obj
/planAndTest/exeMission.fwk/bin
/planAndTest/models.fwk/obj
/planAndTest/models.fwk/bin
/planAndTest/SASDdb.entity.fwk/obj
/planAndTest/SASDdb.entity.fwk/bin
/planAndTest/SASDdbService.fwk/obj
/planAndTest/SASDdbService.fwk/bin
/planAndTest/packages
