################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/planAndTest/exeMission/bin/Debug/netcoreapp3.1
/planAndTest/exeMission/obj
/planAndTest/planAndTest.web/bin/Debug/netcoreapp3.1
/planAndTest/planAndTest.web/obj
*.v2
/planAndTest/models/bin/Debug/netcoreapp3.1
/planAndTest/models/obj
/planAndTest/.vs
/planAndTest/callMission/bin
/planAndTest/callMission/obj
/planAndTest/commonLib/obj
/planAndTest/commonLib/bin
/planAndTest/exeMission/Data/calls
