@using planAndTest.web.Models.SA
@model articleEditViewModel
@{
    ViewData["Title"] = "Acticles";
    Layout = "~/Views/Shared/_LayoutSA.cshtml";
}

<h1>Acticles</h1>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m=>m.cmd, new { id="cmd"})
<div class="row">
    <div class="col-6 border border-primary" style="height:280px;overflow:auto">
        <h6>Directories</h6>
        <div class="row border-top border-primary" style="height:250px;overflow:auto">
            a<br />
            b<br />
            c<br />
            d<br />
            e<br />
            f<br />
            g<br />
            h<br />
            i<br />
            j<br />
            c<br />
            d<br />
            e<br />
            f<br />
            g<br />
            h<br />
            i<br />
            j<br />
            k<br />
            l<br />
            m<br />
        </div>
    </div>
    <div class="col-6 border-top border-bottom border-right border-primary" style="height:280px;overflow:auto">
        <h6>Subjects</h6>
        <div class="row border-top border-primary" style="height:250px;overflow:auto">
            n<br />
            o<br />
            p<br />
            q<br />
            r<br />
            s<br />
            t<br />
            u<br />
            v<br />
            w<br />
            x<br />
            y<br />
            z<br />
        </div>
    </div>
</div>
<div class="row" >
    <div class="col-10 border-left border-right border-bottom border-primary" style="height:450px;overflow:auto">
        <div class="row">
            <div class="col-5">
                <h6>Selected Subject</h6>
            </div>
            <div class="col-2">
                <button type="submit" onclick="$('#cmd').val('create'); $('form').submit();"
                        class="form-control btn btn-primary">
                    Create
                </button>
            </div>
            <div class="col-2">
                <button type="submit" onclick="$('#cmd').val('edit'); $('form').submit();"
                        class="form-control btn btn-primary">
                    Edit
                </button>
            </div>
            <div class="col-3">
                <button type="submit" onclick="$('#cmd').val('replyTo'); $('form').submit();"
                        class="form-control btn btn-primary">
                    Reply To
                </button>
            </div>
        </div>
        <div class="row border-top border-primary" style="height:420px;overflow:auto">
            <div class="col-12">
                @*Html.TextAreaFor(m => m.editingArticle.ArticleHtmlContent, new { @class = "form-control", @rows = "10", id= "ArticleHtmlContent" })*@
                @Html.Raw(Model.editingArticle.ArticleHtmlContent)
            </div>
            @*<div class="col-2">
            </div>*@
        </div>
    </div>
    <div class="col-2 border-right border-bottom border-primary" style="height:450px;overflow:auto">
        <div class="row" >
            5<br />
            6<br />
            7<br />
            8<br />
            6<br />
            7<br />
            8<br />
            6<br />
            7<br />
            8<br />
            6<br />
            7<br />
            8<br />
            6<br />
            7<br />
            8<br />
            6<br />
            7<br />
            8<br />
            6<br />
            7<br />
            8<br />
            9<br />
        </div>
    </div>
</div>
}
@*<script>
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.
    CKEDITOR.replace( 'ArticleHtmlContent' );
</script>*@
